{{- template "nushell-config.nu.tmpl"  }}

alias o = explorer .
alias c = node 'C:\\Users\\Jacob\\Documents\\dev\\jbolda\\covector\\packages\\covector\\bin\\covector.js'
alias c2 = node 'C:\\Users\\Jacob\\Documents\\dev\\covector2\\covector\\packages\\covector\\bin\\covector.js'
alias b = node 'C:\\Users\\Jacob\\Documents\\dev\\backstage\\backstage\\packages\\cli\\bin\\backstage-cli'
