  "alias yw = yarn workspace ",
  "alias nr = npm run ",
  "alias yw = yarn workspace ",
  "def ns [] { open package.json | get scripts }",
  "alias ng = git --no-pager",
  "alias gs = git status -s ",
  "alias gf = git fetch --all ",
  "alias gp = git pull ",
  "alias gfp = (git fetch --all | autoview | git pull --ff-only)",
  "alias fff = git reset HEAD --hard ",
  "def ghwhich [] { gh api repos/{owner}/{repo} | from json | get default_branch }",
  "def gcm [] { gh api repos/{owner}/{repo} | from json | get default_branch | git checkout $in }",
  "def what [port: int] { netstat -ano | lines | skip 4 | split column \" \" --collapse-empty Proto Local Foreign State PID | str trim | where Proto == \"TCP\" |  where Local =~ $\":($port)\" }",
  "def \"tea time\" [] { gh workflow --repo jbolda/jacobbolda.com run build-and-deploy-on-production.yml }",
  "alias w = curl wttr.in",
